<!DOCTYPE html>
	<html>
		<head>
			<title>
			</title>
			<link rel="stylesheet" href="styles.css" />
			<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i" rel="stylesheet"> 

		</head>
		<body>


			<div id="container">
				<div id="content">
					<em><h1>Weather Forecast</h1></em>
						<em>
            <div id="googleMap" style="width:400px;height:200px;"></div>
            <span id="city-name">Retrieving weather...</span><span id="country"> </span><br>
						<span id="temp"></span> <span id="temp-icon-farenh" class="blue"></span><br>
						<span id="forecast"></span></p></em>

           <div> <canvas id="partly-cloudy-day" class="hide" width="200" height="128"></canvas></div>
           <div> <canvas id="rainy-day" class="hide" width="200" height="128"></canvas></div>
           <div> <canvas id="clear-day" class="hide" width="200" height="128"></canvas></div>
           <div> <canvas id="clear-night" class="hide" width="200" height="128"></canvas></div>
           <div> <canvas id="partly-cloudy-night" class="hide" width="200" height="128"></canvas></div>
           <div> <canvas id="cloudy" class="hide" width="200" height="128"></canvas></div>
           <div> <canvas id="rain" class="hide" width="200" height="128"></canvas></div>
           <div> <canvas id="sleet" class="hide" width="200" height="128"></canvas></div>
           <div> <canvas id="snow" class="hide" width="200" height="128"></canvas></div>
           <div> <canvas id="wind" class="hide" width="200" height="128"></canvas></div>

					<em><span id="credit">By <span class="blue">Tony Nguyen</span></span></em>
				</div>
			</div>


		</body>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeB84iYfxho0S8l-ZjxY03B94-_BaZ5VE&libraries=myMap">
    </script> -->



    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <!-- <script src="routes/index.js" type="text/javascript"></script> -->
    <script src="skycons.js" type="text/javascript"></script>
    <script src="weather.js" type="text/javascript"></script>
    <script src="icons.js" type="text/javascript"></script>

    <!-- <script>
      function myMap() {
        var mapProp= {
        center:new google.maps.LatLng(51.508742,-0.120850),
        zoom:5,
      };
      var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
    }
</script> -->

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeB84iYfxho0S8l-ZjxY03B94-_BaZ5VE&callback=myMap"></script>

	</html>